/* sass vars */

$keyline: #E9E9E9;
$appbodytxt: #888;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

/* mixins */
@mixin globalshadow() {
  box-shadow: inset 0px 3px 0px 0px rgba(87,136,170,0.23);
  background: white;
  padding:60px;
  border-radius: 3px;
  border:1px solid $keyline;
}


/* main css */

body {
  background: #FBFAFA;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  padding:160px 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

/* positioning helpers */

.fullvh {
  height: 100%;
}

/* header and app toolbar */

header {
  position: fixed;
  width:100%;
  height: 72px;
  z-index: 100;
}

header > div {
  position: relative;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.11);
  z-index: 100;
}

header h1 {
  text-indent: -100000px;
  overflow-x: hidden;
  background: url(/static/img/logo.svg) no-repeat;
  background-size: 150px auto;
  display: inline-block;
  position: absolute;
  top:14px;
  left:15px;
}

header h1 a {
  display: block;
}

header nav {
  display:table;
  table-layout: fixed;
  margin: 0 auto;
  line-height: 72px;
}

header nav a {
  display:table-cell;
  padding:0 20px;
  font-weight: bold;
  color: rgba(65,65,65,0.4);
  transition: color .3s ease;
}

header nav a.current {
  border-bottom: 3px solid rgba(0,0,0,0.3);
  color: rgba(65,65,65,1);
}

header ul.user-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top:0;
  background: transparent;
  width: 250px;
  line-height: 74px;
  padding-left: 20px;
  border-left:1px solid #fff;
  cursor:pointer;
  display: block;
  transition: background .2s;
}

header ul.user-menu.open {
  background: rgba(0,0,0,0.05);
  border-left:1px solid #E2E2E2;
}

header ul.user-menu li, header ul.user-menu li a {
  line-height: 29px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  color: #888;
}

header ul.user-menu li:first-child:before {
  content: "";
  width:29px;
  height:29px;
  line-height: 29px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url(/static/img/user.svg) no-repeat;
  background-size: 29px auto;
}

header ul.user-menu.open li:first-child:before {
  background: url(/static/img/user-lit.svg) no-repeat;
}

ul.user-menu li:first-child:after {
  content: "";
  width:18px;
  height: 14px;
  line-height: 14px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url(/static/img/pip.svg) no-repeat center center;
  background-size: 14px auto;
}

.user-settings {
  position: absolute;
  width:250px;
  right: 0;
  top:-200px;
  z-index: 90;
  background: #FBFAFA;
  border: 1px solid #E2E2E2;
  transition: all .2s;
}

.user-settings.open {
  top:71px;
}

.user-settings ul {
  list-style-type: disc;
  margin:0;
  padding:0;
}

.user-settings ul li {
  display: block;
  padding:15px 20px;
  font-size: 14px;
}

.user-settings ul li:nth-child(1) {
  border-bottom: 1px solid #E2E2E2;
}

.user-settings ul li:nth-child(1):before {
  content: "";
  width:18px;
  height:18px;
  line-height: 18px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url(/static/img/signout.svg) no-repeat center center;
  background-size: 14px 16px;
}

.user-settings ul li:nth-child(2):before {
  content: "";
  width:18px;
  height:18px;
  line-height: 18px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url(/static/img/settings.svg) no-repeat center center;
  background-size: 18px 18px;
}



/* sign in panel */

.row {
  position: relative;
}

.signin-container {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.signin-container img {
  width:200px;
  height: auto;
  margin:0 auto 25px auto;
  display: block;
}

.signin-container p {
  font-size: 12px;
  color:#999;
  text-align: center;
  margin: 5px 0 10px 0;
}

.signin-container aside {
  margin:20px 0;
}

.signin {
  display:block;
  background:white;
  border: 1px solid $keyline;
  box-shadow: inset 0px 3px 0px 0px rgba(87,136,170,0.23);
  border-radius: 3px;
  padding: 20px;
}

.signin h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 200;
}

 .pwd-container, .pwd-funcs {
  position: relative;
  display: block;
}

.signin input[type=submit] {
  position: absolute;
  right: 0;
  top: 3px;
}

p.pwd-toggle, p.pwd-remind {
  display:block;
  text-align: left;
  cursor: pointer;
}

p.pwd-toggle i, p.pwd-remind i {
  font-size: 18px;
  margin-right: 10px;
  min-width: 22px;
  text-align: center;
}

p.error {
  display:none;
  color:red;
  text-align: left;
  text-transform: capitalize;
}

/* form visual style overrides */

fieldset {
  border: 0;
  margin:0;
  padding: 0;
}

input[type=text], input[type=password], select {
  border-radius: 2px;
  display: block;
  margin-top: 6px;
  transition: background .4s ease;
}

input[type=submit] {
  background:#5789AA;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background: #999;
  border: 0;
  pointer-events: none;
}

button.disabled:hover, button[disabled]:hover, .button.disabled:hover, .button[disabled]:hover {
  background: #777;
}

select {
  padding:10px;
  height: auto;
  color:$appbodytxt;
  font-weight: 400;
  font-family: "Open Sans";
  margin: 10px 0;
}

label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color:#666;
  display: block;
  margin:20px 0;
}

/* error */

.wrong {
	animation: shake 2000ms linear both;
	animation-iteration-count: 1;
}

.wrong #password {
	background:pink;
}

.correct #password {
	background:limegreen;
}

@keyframes shake {
	0.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	1.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 35.864, 0, 1, 1); }
	3.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30.427, 0, 1, 1); }
	5.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	6.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20.64, 0, 1, 1); }
	8.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -17.511, 0, 1, 1); }
	10.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	11.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 11.879, 0, 1, 1); }
	13.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.078, 0, 1, 1); }
	15.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	16.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.836, 0, 1, 1); }
	18.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.8, 0, 1, 1); }
	20.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	21.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.934, 0, 1, 1); }
	23.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.338, 0, 1, 1); }
	25.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	26.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.264, 0, 1, 1); }
	28.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.921, 0, 1, 1); }
	30.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	31.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.303, 0, 1, 1); }
	33.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.106, 0, 1, 1); }
	35.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	36.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.75, 0, 1, 1); }
	38.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.636, 0, 1, 1); }
	40.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	41.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.432, 0, 1, 1); }
	43.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.366, 0, 1, 1); }
	45.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	46.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.248, 0, 1, 1); }
	48.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.211, 0, 1, 1); }
	50.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	51.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.143, 0, 1, 1); }
	53.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.121, 0, 1, 1); }
	55.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	56.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.082, 0, 1, 1); }
	58.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.07, 0, 1, 1); }
	60.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	61.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.047, 0, 1, 1); }
	63.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.04, 0, 1, 1); }
	65.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	66.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.027, 0, 1, 1); }
	68.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.023, 0, 1, 1); }
	70.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	71.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.016, 0, 1, 1); }
	73.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.013, 0, 1, 1); }
	75.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	76.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.009, 0, 1, 1); }
	78.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.008, 0, 1, 1); }
	80.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	81.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.005, 0, 1, 1); }
	83.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.004, 0, 1, 1); }
	85.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	86.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 1, 1); }
	88.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 1, 1); }
	90.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
	91.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 1, 1); }
	93.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 1, 1); }
	95.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1); }
	96.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 1, 1); }
	98.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 1, 1); }
	100.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0, 0, 1, 1); }
}

/* application pages */

.application {
  padding:20px;
}

.application main {
  @include globalshadow;
  position: relative;
}

.application h1 {
  font-weight: 200;
  margin:0 0 2rem 0;
}

.application p {
  margin-bottom: 1.5rem;
  color:$appbodytxt;
}

ul.breadcrumb {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  font-size: 0; /* whitespace fix */
}

ul.breadcrumb li {
  display:inline-block;
  font-size: 11px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color:#999;
  vertical-align: middle;
}

ul.breadcrumb li:first-child {
}

ul.breadcrumb li:first-child:before {
  text-indent: none;
  content: "\f015";
  font-family: FontAwesome;
  color: #666;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
  width:25px;
  position: relative;
  top:-1.5px;
  text-align: center;
}

ul.breadcrumb li:after {
    content: "\f105";
    font-family: FontAwesome;
    color: #888;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
    width:25px;
    position: relative;
    top:-1.5px;
    text-align: center;
}

ul.breadcrumb li:last-child:after {
    content: "";
}

ul.breadcrumb li a {
  color:#555;
}

aside.step {
  position: absolute;
  right:30px;
  top:40px;
}
