.inline-editor {
  margin-top: 50px;
  background: white;
  padding: 50px;
  padding-bottom: 30px;
  box-shadow: 0 16px 10px -8px rgba(0, 0, 0, 0.1);
  color: black; }
  .inline-editor ::selection {
    background: #fff2a8;
    color: black; }
  .inline-editor ::-moz-selection {
    background: #fff2a8;
    color: black; }
  .inline-editor h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 -14px;
    padding-bottom: 50px; }
  .inline-editor h2 {
    font-size: 2em;
    padding-top: 30px;
    margin-bottom: 30px; }

@-webkit-keyframes pop-upwards {
  0% {
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }

  20% {
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7; }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }

@keyframes pop-upwards {
  0% {
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    -ms-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }

  20% {
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    -ms-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7; }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    -ms-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  content: ""; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-width: 0 8px 8px 8px; }

.medium-editor-toolbar, .medium-editor-anchor-preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  visibility: hidden;
  font-size: 16px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif; }

.medium-editor-toolbar ul, .medium-editor-anchor-preview ul {
  margin: 0;
  padding: 0; }

.medium-editor-toolbar li, .medium-editor-anchor-preview li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none; }

.medium-editor-toolbar li button, .medium-editor-anchor-preview li button {
  display: block;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.33;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.medium-editor-toolbar li .medium-editor-action-underline, .medium-editor-anchor-preview li .medium-editor-action-underline {
  text-decoration: underline; }

.medium-editor-toolbar li .medium-editor-action-pre {
  padding: 15px 0;
  font-weight: 100;
  font-size: 12px;
  font-family: "Menlo", monospace; }

.medium-editor-anchor-preview li .medium-editor-action-pre {
  padding: 15px 0;
  font-weight: 100;
  font-size: 12px;
  font-family: "Menlo", monospace; }
.medium-editor-anchor-preview i {
  display: inline-block;
  margin: 5px 5px 5px 10px;
  text-decoration: underline;
  font-style: normal;
  cursor: pointer; }

.medium-editor-toolbar-active, .medium-editor-anchor-preview-active {
  visibility: visible;
  -webkit-animation: pop-upwards 160ms forwards linear;
  -ms-animation: pop-upwards 160ms forwards linear;
  animation: pop-upwards 160ms forwards linear;
  -webkit-transition: top 0.075s ease-out, left 0.075s ease-out;
  transition: top 0.075s ease-out, left 0.075s ease-out; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form-anchor {
  display: none; }
  .medium-editor-toolbar-form-anchor input, .medium-editor-toolbar-form-anchor a {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar-form-anchor input {
    margin: 0;
    padding: 6px;
    width: 316px;
    border: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .medium-editor-toolbar-form-anchor input:focus {
      outline: 0;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
  .medium-editor-toolbar-form-anchor a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px; }

.medium-editor-placeholder {
  position: relative; }
  .medium-editor-placeholder:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-placeholder);
    font-style: italic; }

*:focus {
  outline: none; }

.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: #222222 transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #222222 transparent; }

.medium-editor-toolbar {
  border: 1px solid #222222;
  background-color: #222222;
  border-radius: 4px;
  -webkit-transition: top 0.075s ease-out, left 0.075s ease-out;
  transition: top 0.075s ease-out, left 0.075s ease-out; }
  .medium-editor-toolbar li button {
    min-width: 60px;
    height: 60px;
    border: none;
    border-right: 1px solid black;
    background-color: transparent;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    transition: background-color 0.2s ease-in, color 0.2s ease-in; }
    .medium-editor-toolbar li button:hover {
      background-color: black;
      color: white; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-right: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  .medium-editor-toolbar li .medium-editor-button-active {
    background-color: black;
    color: white; }

.medium-editor-toolbar-form-anchor {
  background: #222222;
  color: white;
  border-radius: 4px; }
  .medium-editor-toolbar-form-anchor input {
    height: 60px;
    background: #222222;
    color: white; }
    .medium-editor-toolbar-form-anchor input::-webkit-input-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.8); }
    .medium-editor-toolbar-form-anchor input:-moz-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.8); }
    .medium-editor-toolbar-form-anchor input::-moz-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.8); }
    .medium-editor-toolbar-form-anchor input:-ms-input-placeholder {
      color: white;
      color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form-anchor a {
    color: white; }

.medium-editor-toolbar-anchor-preview {
  background: #222222;
  color: white;
  border-radius: 4px; }

.medium-editor-placeholder:after {
  color: black; }
  .medium-editor-placeholder:after .clearfix:before, .medium-editor-placeholder:after [data-medium-element="true"]:before, .medium-editor-placeholder:after .clearfix:after, .medium-editor-placeholder:after [data-medium-element="true"]:after {
    content: " ";
    display: table; }
  .medium-editor-placeholder:after .clearfix:after, .medium-editor-placeholder:after [data-medium-element="true"]:after {
    clear: both; }
  .medium-editor-placeholder:after img {
    max-width: 100%; }
  .medium-editor-placeholder:after q, .medium-editor-placeholder:after blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    border-left: 5px solid #efefef;
    padding-left: 20px;
    margin-left: -25px; }
  .medium-editor-placeholder:after [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element; }
  .medium-editor-placeholder:after [contenteditable] {
    outline: 0px solid transparent; }
    .medium-editor-placeholder:after [contenteditable]:focus {
      outline: 0px solid transparent; }
  .medium-editor-placeholder:after .medium-editor-placeholder {
    padding-bottom: 0 !important;
    min-height: 58px; }
    .medium-editor-placeholder:after .medium-editor-placeholder:after {
      content: attr(data-placeholder) !important;
      top: 1em; }
  .medium-editor-placeholder:after .hide {
    display: none !important; }
  .medium-editor-placeholder:after .mediumInsert-buttonsShow {
    opacity: 0;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -o-transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -webkit-transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -5px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none !important; }
    .medium-editor-placeholder:after .mediumInsert-buttonsShow:after {
      left: auto;
      right: 100%;
      top: 50%;
      margin-top: -4px; }
  .medium-editor-placeholder:after .mediumInsert {
    position: relative;
    margin: -1em 0 -1em -40px;
    min-height: 18px; }
    .medium-editor-placeholder:after .mediumInsert .mediumInsert-buttons {
      position: absolute;
      width: 40px;
      top: 0;
      left: 0;
      color: #dddddd;
      font-size: 0.9em; }
      .medium-editor-placeholder:after .mediumInsert .mediumInsert-buttons a {
        text-decoration: underline;
        cursor: pointer; }
        .medium-editor-placeholder:after .mediumInsert .mediumInsert-buttons a.active {
          font-weight: bold; }
      .medium-editor-placeholder:after .mediumInsert .mediumInsert-buttons ul.mediumInsert-buttonsOptions {
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
        position: absolute;
        z-index: 2;
        left: 40px;
        top: -10px;
        border-radius: 5px; }
        .medium-editor-placeholder:after .mediumInsert .mediumInsert-buttons ul.mediumInsert-buttonsOptions button {
          min-height: auto;
          height: auto;
          padding: 5px;
          border-left: none;
          float: none; }
          .medium-editor-placeholder:after .mediumInsert .mediumInsert-buttons ul.mediumInsert-buttonsOptions button .fa {
            font-size: 20px; }
    .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder {
      position: relative;
      margin-left: 40px;
      text-align: center; }
      .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-images img {
        margin-top: 1em;
        margin-bottom: 10px;
        vertical-align: top; }
      .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-images a {
        position: absolute;
        top: 1em;
        width: 30px;
        height: 30px;
        background-color: #3b3b3b;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer; }
        .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-images a.mediumInsert-imageRemove {
          right: 0;
          /*background-image: url(../images/remove.png);*/ }
        .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-images a.mediumInsert-imageResizeSmaller {
          right: 31px;
          /*background-image: url(../images/resize-smaller.png); */}
        .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-images a.mediumInsert-imageResizeBigger {
          right: 31px;
          /*background-image: url(../images/resize-smaller.png);
          background-image: url(../images/resize-bigger.png);*/ }
      .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-images:first-child:after {
        content: "\a";
        white-space: pre; }
      .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-images:not(:first-child) {
        margin-right: 10px; }
        .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-images:not(:first-child) img {
          width: 20%; }
      .medium-editor-placeholder:after .mediumInsert .mediumInsert-placeholder .mediumInsert-maps {
        padding: 10px;
        background: #cccccc; }
    .medium-editor-placeholder:after .mediumInsert.hover .mediumInsert-placeholder {
      background: #f0f0f0; }
    .medium-editor-placeholder:after .mediumInsert:hover .mediumInsert-buttonsShow {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
    .medium-editor-placeholder:after .mediumInsert.small .mediumInsert-placeholder {
      width: 33.33%;
      float: left;
      margin-right: 30px; }
  .medium-editor-placeholder:after .hover .mediumInsert-placeholder {
    min-height: 14px;
    border: 1px dashed #dddddd;
    margin-top: -1px;
    margin-bottom: -1px; }
