{% extends "base.html" %}

{% block title %}Setup a new Survey{% endblock %}

{% load staticfiles %}

{% block base_body %}
  {{ block.super }}
{% include "includes/navigation.html" %}

<div class="wrapper" ng-app="QBuilder">

  <section class="application" ng-controller="BuilderController as builderCtrl">

	{# This template represents a dnd list and is used by other templates. #}
    {# Changing this can cause pain #}
    {% verbatim %}
	<script type="text/ng-template" id="list.html">
		<ul class="question-list" dnd-list="list"
			dnd-drop="dropCallback(event, index, item)"
			dnd-allowed-types="['item']">

			<li ng-repeat="item in list"
				dnd-draggable="item"
				dnd-effect-allowed="move"
				dnd-moved="list.splice($index, 1)"
				dnd-selected="models.selected = item"
				ng-class="{selected: models.selected === item}"
				ng-include="item.type + '.html'"
				dnd-type="item.dndType">
			</li>
		</ul>
	</script>

	<!-- This template is responsible for rendering a group element. It uses
		 the above list template to render each group column -->
	<script type="text/ng-template" id="group.html">
		<div class="group-element box box-blue">
			<h3>Question Group {{item.id}}</h3>
			<div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
			<div class="clearfix"></div>
		</div>
	</script>

	<!-- Template for a text question -->
	<script type="text/ng-template" id="text_question.html">
		<div>
			<div class="text_question" ng-hide="models.preview">
				<h5><!--({{$index + 1}})--><i class="fa fa-font"></i> Text Question</h5>
				<label>Question</label>
				<input type="text" ng-model="item.questionText" placeholder="E.g - How many people does your company employ?">
				<label>Question Help Text</label>
				<input type="text" ng-model="item.questionHelp" placeholder="E.g - Please include all staff members including contractors">
				<label>Question Error Text</label>
				<input type="text" ng-model="item.questionError" placeholder="E.g - Please ensure your answer contains only numbers">
				<div class="clearfix"></div>
			</div>
			<div class="text_question_preview" ng-show="models.preview">
				<div>{{ item.questionText }}</div>
				<div>{{ item.questionHelp }}</div>
				<input type="text">
				<div>{{ item.questionError }}</div>
			</div>
		</div>
	</script>

	<!-- Radio button Question -->
	<script type="text/ng-template" id="radio_question.html">
		<div>
			<div class="radio_question" ng-controller="RadioQuestionController as ctrl" ng-hide="models.preview">
			<h5><!--({{$index + 1}})--><i class="fa fa-list-ul"></i> Multiple Choice Question</h5>
			<div class="question-tabbed">
				<ul class="tab-toggle">
					<li class="active"><a href="">set question</a></li>
					<li><a href="">set responses</a></li>
				</ul>
				<section class="set-question">
						<label>Question Text</label>
						<input type="text" ng-model="item.questionText">
						<label>Question Help</label>
						<input type="text" ng-model="item.questionHelp">
						<label>Question Error</label>
						<input type="text" ng-model="item.questionError">
				</section>
				<section class="set-responses">
				<ul dnd-list="item.parts"
					dnd-allowed-types="['part']">
					<li ng-repeat="part in item.parts"
						dnd-draggable="part"
						dnd-effect-allowed="move"
					    dnd-type="'part'"
						dnd-moved="item.parts.splice($index, 1)"><b>Response</b>
						<input type="text" ng-model="part.name" placeholder="name">
						<input type="text" ng-model="part.label" placeholder="label">
						<input type="text" ng-model="part.value" placeholder="value">
					</li>
				</ul>
				<a ng-click="addOption(item)"><i class="fa fa-plus-square-o"></i> Add Answer</a>
				</section>
				</div>
			</div>
			<div class="radio_question_preview" ng-show="models.preview">
				<div><b>{{ item.questionText }}</b></div>
				<div>{{ item.questionHelp }}</div>
				<label ng-repeat="part in item.parts">
					<input type="radio" name="item.id"> {{ part.label }}
				</label><br />
				<div>{{ item.questionError }}</div>

			</div>
		</div>
	</script>

    <div class="large-12">
      <ul class="breadcrumb">
        <li><a href="{%  url 'survey:index' %}" title="">Home</a></li>
        <li><a href="{%  url 'survey:index' %}" title="">Surveys</a></li>
        <li><a href="" title="">{{  models.questionnaire_meta.title  }}</a></li>
        <li>Authoring {{  models.questionnaire_meta.title  }}</li>
      </ul>
      <main class="clearfix builder-canvas">
				{% endverbatim %}

      <div class="large-10 large-offset-1 columns">
        <h2>Questionnaire Builder</h2>
				<div class="switch round tiny">
					Edit mode
					<input id="exampleRadioSwitch3" type="checkbox" ns-checked="models.preview" ng-model="models.preview">
					<label for="exampleRadioSwitch3"></label>
					Preview Mode
				</div>
          {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
            </div>
            {% endif %}

        {% verbatim %}
		    <div class="row">
		        <div ng-repeat="list in models.dropzones">
		            <div class="dropzone">
		                <div ng-include="'list.html'"></div>
		            </div>
		        </div>
		    </div>


        {% endverbatim %}
      </div>
      </main>


			<div class="tool-panel">
				<div class="authoring-tools">
					<h5>Question types</h5>
					<p class="instruction">Drag a question to the canvas</p>
					{% verbatim %}
					<ul class="q-types ng-cloak">
						<li ng-repeat="item in models.templates"
								dnd-draggable="item"
								dnd-effect-allowed="copy"
								dnd-copied="item.id = item.id + 1"
								dnd-type="item.dndType">
								<!--<img ng-src="{{ item.icon }}"/>-->
								<i class="fa {{ item.icon }}"></i>
								<span ng-bind="item.description">Loading...</span>
						</li>
					</ul>


					<div class="trashcan">
							<!-- If you use [] as referenced list, the dropped elements will be lost -->
							<ul dnd-list="[]">
									<li style="display:block; width:100%"><img src="/static/img/icons/trash.svg" style="width:100%"></li>
							</ul>
					</div>
					{% endverbatim %}
					<input type="submit" class="button small radius save" id="" value="Save" ng-click="saveQuestionnaire(models.dropzones)">
						<a href={%  url 'survey:index' %} class="button small radius preview">Close</a>
				 {% comment %} <a class="button small radius preview">Preview</a>
					<a class="button small radius reset">Reset</a>{% endcomment %}
				</form>

					{% if survey_runner_url %}
						<a href="{{ survey_runner_url }}questionnaire/{{ questionnaire.id }}?preview=True" class="button small radius preview">Preview</a>
					{% endif %}
				</div>
			</div>




    </div>

	  {% verbatim %}
	  <div class="debug">
		  <pre>{{ models.dropzones | json }}</pre>
	  </div>
	  {% endverbatim %}
  </section>
</div>
{% endblock base_body%}


{% block body_js %}
  {{ block.super }}
  <script src="{% static "js/plugin.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/angular.js" %}"></script>
  <script src="{% static "js/angular-drag-and-drop-lists.js" %}"></script>
  <script src="{% static "js/q_builder/config.js" %}"></script>
  <script src="{% static "js/q_builder/controllers/BuilderController.js" %}"></script>
  <script src="{% static "js/q_builder/controllers/RadioQuestionController.js" %}"></script>
  <script src="{% static "js/q_builder/app.js" %}"></script>

{% endblock body_js %}
