{% extends "base.html" %}
{% block title %}Setup a new Survey{% endblock %}
{% load staticfiles %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/simditor.css" %}">
{% endblock css %}
{% block base_body %}
  {{ block.super }}
{% include "includes/navigation.html" %}

<div class="wrapper" ng-app="QBuilder">

  <section class="application" ng-controller="BuilderController as builderCtrl">

    {# This template represents a dnd list and is used by other templates. #}
      {# Changing this can cause pain #}
      {% verbatim %}
  	<script type="text/ng-template" id="list.html">
  		<ul class="question-list" dnd-list="list"
  			dnd-drop="dropCallback(event, index, item)"
  			dnd-allowed-types="['item']"
        ng-class="{dragTarget: dragging && dragging.dndType == 'item'}">
        <li class="start-panel " ng-show="list.length == 0"><i class="fa fa-file-o"></i>Questionnaire empty. Drag a question here to continue.</li>
        <li ng-repeat="item in list"
  				dnd-draggable="item"
  				dnd-effect-allowed="move"
  				dnd-moved="list.splice($index, 1)"
  				dnd-selected="models.selected = item"
  				ng-class="{selected: models.selected === item}"
  				ng-include="item.type + '.html'"
          dnd-type="item.dndType" class="my-repeat-animation">
  			</li>
  		</ul>
  	</script>

	<!-- This template is responsible for rendering a group element. It uses
		 the above list template to render each group column -->
	<script type="text/ng-template" id="group.html">
		<div class="group-element box box-blue">
			<h3>Question Group {{item.id}}</h3>
			<div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
			<div class="clearfix"></div>
		</div>
	</script>

  <!-- Template for a text question -->
	<script type="text/ng-template" id="text_question.html">
		<div class="question-block"><!--{{$index + 1}}-->
			<div class="text_question" ng-hide="models.preview">
			<i class="fa fa-times deleteitem" ng-click="list.splice($index, 1)" ng-confirm-click="YOU ARE ABOUT TO KILL A KITTEN ARE YOU SURE???"></i>

        <h5><i class="fa fa-font"></i> Text Question</h5>
				<label>Question</label>
				<input type="text" ng-model="item.questionText" placeholder="E.g - How many people does your company employ?">
				<label>Question Help/Instruction Text</label>
				<input type="text" ng-model="item.questionHelp" placeholder="E.g - Please include all staff members including contractors">
				<label>Error Text for Respondent</label>
				<input type="text" ng-model="item.questionError" placeholder="E.g - Please ensure your answer contains only numbers">
				<div class="clearfix"></div>
			</div>
			<div class="text_question_preview" ng-show="models.preview">
				<div><b>{{ item.questionText }}<span ng-if="!item.questionText.length">Add a question</span></b></div>
				<div>{{ item.questionHelp }}<span ng-if="!item.questionHelp.length">Add some help/instruction text</span></div>
				<input type="text">
				<!--<div>{{ item.questionError }}</div>-->
			</div>
		</div>
	</script>


  <!-- Template for a rich text block -->
	<script type="text/ng-template" id="rich_text_block.html">
		<div>
    <i class="fa fa-times deleteitem" ng-click="list.splice($index, 1)" ng-confirm-click="YOU ARE ABOUT TO KILL A KITTEN ARE YOU SURE???"></i>
			<div class="text_question" ng-hide="models.preview">
				<label>Your Text</label>
        <textarea ng-model="item.questionText" wysiwyg-editor></textarea>
				<div class="clearfix"></div>
			</div>
			<div class="text_question_preview" ng-show="models.preview">
				<div ng-bind-html="item.questionText"></div>
			</div>
		</div>
	</script>

  <!-- Radio button Question -->
	<script type="text/ng-template" id="radio_question.html">
		<div class="question-block">
			<div class="radio_question" ng-controller="RadioQuestionController as ctrl" ng-hide="models.preview">
			<i class="fa fa-times deleteitem" ng-click="list.splice($index, 1)" ng-confirm-click="YOU ARE ABOUT TO KILL A KITTEN ARE YOU SURE???"></i>
			<h5><!--({{$index + 1}})--><i class="fa fa-list-ul"></i> Multiple Choice Question</h5>

        <tabset template-url="{% endverbatim %}{% static "js/q_builder/templates/tabset.html" %}{% verbatim %}"><!-- class tab-container -->
          <tab heading="Question Settings">
            <label>Question</label>
						<input type="text" ng-model="item.questionText" placeholder="E.g - Which of these options do you agree with?">
						<label>Question Help/Instruction Text</label>
						<input type="text" ng-model="item.questionHelp" placeholder="E.g - Please select one option from the list below">
						<label>Error Text for Respondent</label>
						<input type="text" ng-model="item.questionError" placeholder="E.g - This question is required">
          </tab>
          <tab heading="Available Responses">
            <ul dnd-list="item.parts"
    					dnd-allowed-types="['part']">
    					<li ng-repeat="part in item.parts"
    						dnd-draggable="part"
    						dnd-effect-allowed="move"
    					    dnd-type="'part'"
    						dnd-moved="item.parts.splice($index, 1)">
                <input type="text" ng-model="part.name" placeholder="Enter the response option for the respondent" class="icon-append">
                  <span class="list-actions">
                    <i class="fa fa-arrows-v reorder" title="drag to reorder"></i>
                    <i class="fa fa-trash removeitem" ng-click="item.parts.splice($index, 1)" title="remove this item"></i>
                  </span>
                <input type="hidden" ng-model="part.label" placeholder="label">
                <input type="hidden" ng-model="part.value" placeholder="value">
    					</li>
    				</ul>
    				<span class="add-btn"><a ng-click="addOption(item)"><i class="fa fa-plus-square-o"></i> Add a response for the Respondent</a></span>
          </tab>
        </tabset>

			</div>

			<div class="radio_question_preview" ng-show="models.preview">
				<div><b>{{ item.questionText }}</b></div>
				<div>{{ item.questionHelp }}</div>
				<label ng-repeat="part in item.parts">
					<input type="radio" name="item.id">&nbsp; {{ part.name }}
				</label><br />
				<!--<div>{{ item.questionError }}</div>-->
      </div>

		</div>
	</script>


  {% endverbatim %}

    <div class="large-12">

      <section class="clearfix builder-canvas">

        <div class="large-10 large-offset-1 columns">

          <div class="row">

            <ul class="breadcrumb">
              <li><a href="{%  url 'survey:index' %}" title="">Home</a></li>
              <li><a href="{%  url 'survey:index' %}" title="">Surveys</a></li>
              <li><a href="" title="">{{  questionnaire.survey.title  }}</a></li>
              <li>Authoring {% verbatim %}{{ models.questionnaire_meta.title }}{% endverbatim %}</li>
            </ul>

          <div>

            <h3 class="q-title-editable" contenteditable ng-model="models.questionnaire_meta.title"></h3>
            <!-- havent figured out where this lives yet <p contenteditable ng-model="models.questionnaire_meta.overview"></p>-->

          </div>

          {% verbatim %}

            <div ng-repeat="list in models.dropzones">
                <div class="dropzone">
                    <div ng-include="'list.html'"></div>
                </div>
            </div>
        </div>


        {% endverbatim %}
      </div>
    </section>


      <div class="tool-panel">
        <div class="authoring-tools">
          <h5>Question types</h5>
          <p class="instruction">Drag a question to the canvas</p>
          {% verbatim %}
          <ul class="q-types ng-cloak">
            <li ng-repeat="item in models.templates"
                dnd-draggable="item"
                dnd-effect-allowed="copy"
                dnd-copied="item.id = item.id + 1"
                dnd-type="item.dndType"
                dnd-dragstart="dragStartCallback(item)"
                dnd-dragend="dragEndCallback(item)">
                <!--<img ng-src="{{ item.icon }}"/>-->
                <i class="fa {{ item.icon }}"></i>
                <span ng-bind="item.description">Loading...</span>
            </li>
          </ul>

          <section class="preview-settings">
          <h5>Preview Mode</h5>
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ns-checked="models.preview" ng-model="models.preview">
                <label class="onoffswitch-label" for="myonoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>

         </section>
          <!-- hide til can figure out how to make this friendly :D <div class="trashcan"
              If you use [] as referenced list, the dropped elements will be lost
              <ul dnd-list="[]">
                  <li style="display:block; width:100%"><img src="/static/img/icons/trash.svg" style="width:100%"></li>
              </ul>
          </div>-->
          {% endverbatim %}
          <input type="submit" class="button small radius save" id="" value="Save Questionnaire" ng-click="saveQuestionnaire(models.dropzones)">
            <a href={%  url 'survey:index' %} class="button small radius preview">Back to Dashboard</a>

        {% verbatim %}

            <div class="messages">
                <div ng-repeat="message in messages">
                  <div ng-show="message.success"><span class="success"><i class="fa fa-check"></i>{{message.success}}</span></div>
                  <div ng-show="message.error"><span class="error">{{message.error}}</span></div>
                </div>
            </div>

        {% endverbatim %}

         {% comment %} <a class="button small radius preview">Preview</a>
          <a class="button small radius reset">Reset</a>{% endcomment %}
        </form>

          {% if survey_runner_url %}
            <a href="{{ survey_runner_url }}questionnaire/{{ questionnaire.id }}?preview=True" class="button small radius preview">Preview</a>
          {% endif %}
        </div>
      </div>

  </div>

    {% verbatim %}
    <div class="debug">
      <pre>{{ models.dropzones | json }}</pre>
    </div>
    {% endverbatim %}
  </section>
</div>
{% endblock base_body%}


{% block body_js %}
  {{ block.super }}
  <script src="{% static "js/plugin.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  {# Simditor #}
  <script src="{% static "js/module.js" %}"></script>
  <script src="{% static "js/hotkeys.js" %}"></script>
  <script src="{% static "js/uploader.js" %}"></script>
  <script src="{% static "js/simditor.js" %}"></script>
  {# Angular #}
  <script src="{% static "js/angular.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.js"></script>
  <script src="{% static "js/angular-sanitize.js" %}"></script>
  <script src="{% static "js/angular-drag-and-drop-lists.js" %}"></script>
  <script src="{% static "js/q_builder/config.js" %}"></script>
  <script src="{% static "js/q_builder/directives/ContentEditable.js" %}"></script>
  <script src="{% static "js/q_builder/directives/WysiwygEditor.js" %}"></script>
  <script src="{% static "js/q_builder/directives/confirmdialog.js" %}"></script>
  <script src="{% static "js/q_builder/directives/Tabs.js" %}"></script>
  <script src="{% static "js/q_builder/controllers/BuilderController.js" %}"></script>
  <script src="{% static "js/q_builder/controllers/RadioQuestionController.js" %}"></script>
  <script src="{% static "js/q_builder/app.js" %}"></script>


{% endblock body_js %}
