{% extends "base.html" %}
{% block title %}Setup a new Survey{% endblock %}
{% load staticfiles %}
{% block css %}
   <style>
	.dropzone ul[dnd-list],
	.dropzone ul[dnd-list] > li {
		position: relative;
	}
	.dropzone ul[dnd-list] {
		min-height: 42px;
	}
	.dropzone .dndPlaceholder {
	    background-color: #ddd;
	    min-height: 42px;
	    display: block;
	    position: relative;
	}
	.dropzone .group-element {
		min-height: 100px;
	    margin: 10px;
	}

	.dropzone .group-element .column {
	    float: left;
	    width: 50%;
	}
   </style>
{% endblock css %}
{% block base_body %}
  {{ block.super }}
{% include "includes/navigation.html" %}

<div class="wrapper" ng-app="builder">

  <section class="row application" ng-controller="BuilderController as builderCtrl">

    {% verbatim %}

			<script type="text/ng-template" id="list.html">
			    <ul dnd-list="list">
			        <li ng-repeat="item in list"
			            dnd-draggable="item"
			            dnd-effect-allowed="move"
			            dnd-moved="list.splice($index, 1)"
			            dnd-selected="models.selected = item"
			            ng-class="{selected: models.selected === item}"
			            ng-include="item.type + '.html'">
			        </li>
			    </ul>
			</script>

			<!-- This template is responsible for rendering a group element. It uses
			     the above list template to render each group column -->
			<script type="text/ng-template" id="group.html">
			    <div class="group-element box box-blue">
			        <h3>Question Group {{item.id}}</h3>
			        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
			        <div class="clearfix"></div>
			    </div>
			</script>

			<!-- Template for a normal list item -->
			<script type="text/ng-template" id="item.html">
			    <div class="item">Item {{item.id}}</div>
			</script>

			<!-- Template for a text question -->
			<script type="text/ng-template" id="text_question.html">

				<div class="text_question">
					<label>Question Text</label>
					<input type="text" ng-model="item.question_text">
					<label>Question Help</label>
					<input type="text" ng-model="item.question_help">
					<label>Question Error</label>
					<input type="text" ng-model="item.question_error">
					<div class="clearfix"></div>
				</div>
			</script>

			<!-- Template for a text question -->
			<script type="text/ng-template" id="new_question_type.html">
				<div class="text_question">
					<label>Grid Question Type Text</label>
					<input type="text" ng-model="item.question_text">
					<label>Question Help</label>
					<input type="text" ng-model="item.question_help">
					<label>Question Error</label>
					<input type="text" ng-model="item.question_error">
					<input type="text" ng-model="item.newfield">
					<div class="clearfix"></div>
				</div>
			</script>

			<!-- Radio button Question -->
			<script type="text/ng-template" id="radio_question.html">
				<div class="radio_question" ng-controller="RadioQuestionController as ctrl">
				<label>Question Text</label>
				<input type="text" ng-model="item.question_text">
				<label>Question Help</label>
				<input type="text" ng-model="item.question_help">
				<label>Question Error</label>
				<input type="text" ng-model="item.question_error">
				<ul dnd-list="item.answers">
					<li 	ng-repeat="answer in item.answers"
						dnd-draggable="answer"
						dnd-effect-allowed="move"
						dnd-moved="item.answers.splice($index, 1)">

						<input type="text" ng-model="answer.value">
					</li>
					<li ng-click="addOption(item)">Add Answer</li>
				</ul>
				</div>
			</script>



    {% endverbatim %}

    <div class="large-12">
      <ul class="breadcrumb">
        <li><a href="{%  url 'survey:index' %}" title="">Home</a></li>
        <li><a href="{%  url 'survey:index' %}" title="">Surveys</a></li>
        <li><a href="" title="">{{  questionnaire.survey.title  }}</a></li>
        <li>Authoring {{  questionnaire.title  }}</li>
      </ul>
      <main class="clearfix">

      <div class="large-9 columns">
        <h2>Questionnaire Builder</h2>
          {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
            </div>
            {% endif %}

        {% verbatim %}
		    <div class="row">
		        <div ng-repeat="list in models.dropzones">
		            <div class="dropzone">
		                <div ng-include="'list.html'"></div>
		            </div>
		        </div>
		    </div>


        {% endverbatim %}
      </div>
      <div class="large-3 columns end">
        <div class="authoring-tools">
          <h5>Question types</h5>
          <p class="instruction">Click to add a new question</p>
          {% verbatim %}
          <ul class="q-types">
            <li ng-repeat="item in models.templates"
                dnd-draggable="item"
                dnd-effect-allowed="copy"
                dnd-copied="item.id = item.id + 1"
                >
                <img ng-src="{{ item.icon }}"/>
            </li>
          </ul>
          <div>
              <!-- If you use [] as referenced list, the dropped elements will be lost -->
              <h3>Trashcan</h3>
              <ul dnd-list="[]">
                  <li><img src="/static/img/icons/trashcan.jpg"></li>
              </ul>
          </div>
          {% endverbatim %}
          <input type="submit" class="button small radius save" id="" value="Save" ng-click="saveQuestionnaire(models.dropzones)">
            <a href={%  url 'survey:index' %} class="button small radius preview">Close</a
         {% comment %} <a class="button small radius preview">Preview</a>
          <a class="button small radius reset">Reset</a>{% endcomment %}
        </form>

          {% if survey_runner_url %}
            <a href="{{ survey_runner_url }}questionnaire/{{ questionnaire.id }}?preview=True" class="button small radius preview">Preview</a>
          {% endif %}
        </div>
      </div>
      </main>
    </div>
  </section>
</div>
{% endblock base_body%}


{% block body_js %}
  {{ block.super }}
  <script src="{% static "js/plugin.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/angular.js" %}"></script>
  <script src="{% static "js/angular-drag-and-drop-lists.js" %}"></script>
  <script src="{% static "js/builder.js" %}"></script>

{% endblock body_js %}
