{% extends "base.html" %}
{% block title %}Setup a new Survey{% endblock %}
{% block base_body %}
  {{ block.super }}
{% include "includes/navigation.html" %}
{% load staticfiles %}

<-- temp fix for demo -->
<style>
label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #888;
  display: block;
  margin: 0px 0 0px 0;
}
</style>

<div class="wrapper">
  <section class="row application clearfix">
    <div class="large-12">
      <ul class="breadcrumb">
        <li><a href="{% url 'welcome' %}" title="">Home</a></li>
        <li><a href="{% url 'survey:index' %}" title="">Surveys</a></li>
        <li><a href="" title="">{{  survey.title  }}</a></li>
        <li>Add a new Questionnaire</li>
      </ul>
      <main>
      <h1>Add a Questionnaire</h1>
      <aside class="step">Step 2 of 2</aside>
      <p>Provide some details about your Questionnaire</p>
          <fieldset>
            <form id="addquestionnaire" method="post">{% csrf_token %}
                {{ form.as_p }}
              <div class="right user-prompt">
                <input type="submit" class="button small radius" id="dosetup" value="Proceed">
              </div>
            </form>
        </fieldset>
      </main>
    </div>
  </section>
</div>
{% endblock base_body%}
