{% extends "base.html" %}
{% block title %}Survey List{% endblock %}
{% block base_body %}
{{ block.super }}
{% include "includes/navigation.html" %}
{% load staticfiles %}
<div class="wrapper">
    <div class="row application clearfix">
        <div class="large-12">
            <ul class="breadcrumb">
                <li><a href="{% url 'welcome' %}" title="">Home</a></li>
                <li>Surveys</li>
            </ul>
                <div class="row">
                    <div class="small-6 columns large-collapse">
                        <h1>Your Surveys</h1>
                    </div>
                    {% if object_list %}
                    <div class="small-6 columns large-collapse right">
                        <a href="{%  url 'survey:create' %}" class="button small radius right">Setup a new survey</a>
                    </div>
                    {% endif %}
                    <hr>
                </div>

                {% for survey in object_list %}

                {% if survey.questionnaire_set.all %}

                    <div class="row">
                      <div class="large-8 large-collapse columns"><b>{{ survey.title }}</b></div>
                      <div class="large-4 large-collapse columns"><a href="{% url 'survey:create-questionnaire' survey.survey_id %}" class="button small radius secondary right">Add a questionnaire to this survey</a></div>
                    </div>
                    <div class="row tab-container">
                      <table class="large-12 survey-list">
                        <tr>
                          <th>Questionnaire Title</th>
                          <th>Actions</th>
                        </tr>
                        {% for questionnaire in survey.questionnaire_set.all %}
                        <tr>
                        <td>{{ questionnaire.title }}</td>
                        <td class="action-btns">
                            <div class="button-bar">
                                <ul class="button-group round">
                                    {% if not questionnaire.reviewed %}
                                    <li>
                                        <a class="tiny button secondary"
                                           href="{% url 'survey:review-questionnaire' slug=questionnaire.questionnaire_id %}">Review</a>
                                    </li>
                                    {% else %}
                                    <li class="tiny button secondary success">Reviewed</li>
                                    {% endif %}

                                    {% if questionnaire.published %}
                                    <li>
                                        <a class="tiny button secondary success" href="#">Published</a></li>
                                    <li><a href="{{ survey_runner_url }}questionnaire/{{ questionnaire.id }}" target="_blank"
                                           class="tiny button secondary">View live</a></li>
                                    {% else %}
                                    <li>
                                        <a class="tiny button secondary" href="{{ survey_runner_url }}questionnaire/{{ questionnaire.id }}?preview=True"  target="_blank"
                                           class="tiny button secondary">Preview</a></li>

                                    {% endif %}
                                    {% if questionnaire.reviewed and not questionnaire.published %}
                                    <li>
                                        <a class="tiny button secondary"
                                           href="{% url 'survey:publish-questionnaire' slug=questionnaire.questionnaire_id %}">Publish</a>
                                    </li>
                                    {% endif %}

                                    {% if not questionnaire.published %}
                                        {% if questionnaire.locked_by and questionnaire.locked_by != user.username%}
                                            <li>
                                                <a class="tiny button secondary"
                                                   href="#" onclick="alert('Locked by {{ questionnaire.locked_by}}')"}>Locked</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a class="tiny button secondary"
                                                   href="{% url 'survey:questionnaire-builder' questionnaire.id %}" >Edit</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                </div>
                            </td>
                          </tr>
                            {% endfor %}
                        </table>

                      </div>




                {% endif %}
                {% empty %}
                <div class="row">
                    <div class="small-8 columns">
                        <h3>Hi there!</h3>
                        <p>Welcome to the eQ Authoring tool.  This tool allows you to create questionnaires for your surveys.</p>
                        <p>As you don't have any surveys at the moment, let's get started by clicking the 'Setup a new survey' button below.</p>
                        <p><a href="{%  url 'survey:create' %}" class="button large radius">Setup a new survey</a></p>
                    </div>
                </div>
                {% endfor %}

                </p>
            </main>
        </div>
    </section>
    {% endblock base_body %}
