{% extends "base.html" %}
{% block title %}Survey List{% endblock %}
{% block base_body %}
{{ block.super }}
{% include "includes/navigation.html" %}
{% load staticfiles %}
<div class="wrapper">
    <div class="row application clearfix">
        <div class="large-12">
            <ul class="breadcrumb">
                <li><a href="{% url 'welcome' %}" title="">Home</a></li>
                <li>Surveys</li>
            </ul>
                <div class="row">
                    <div class="small-6 columns large-collapse">
                        <h1>Your Surveys</h1>
                    </div>
                    {% if object_list %}
                    <div class="small-6 columns large-collapse right">
                        <a href="{%  url 'survey:create' %}" class="button small radius right"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Add a new survey</a>
                    </div>
                    {% endif %}
                </div>

                {% for survey in object_list %}

                {% if survey.questionnaire_set.all %}

                <section class="questionnaire-block">

                    <div class="row">
                      <div class="large-6 large-collapse columns"><h4>{{ survey.title }}</h4></div>
                      <div class="large-6 large-collapse columns"></div>
                    </div>
                    <div class="row tab-container">
                      <table class="large-12 survey-list">
                        <tr>
                          <th>Questionnaires in this Survey</th>
                          <th>Actions / Status</th>
                        </tr>
                        {% for questionnaire in survey.questionnaire_set.all %}
                        <tr>
                        <td class="q-title"><a href="{% url 'survey:questionnaire-builder' questionnaire.id %}" title="edit {{ questionnaire.title }}">{{ questionnaire.title }}</a> ( <span class="q-id"> put id here </span> )</td>
                        <td class="action-btns">
                                <ul class="survey-actions">
                                    {% if not questionnaire.reviewed %}
                                    <li>
                                        <a class=""
                                           href="{% url 'survey:review-questionnaire' slug=questionnaire.id %}"><i class="fa fa-check"></i> Mark as approved</a>
                                    </li>
                                    {% else %}
                                    <li class=""><i class="fa fa-thumbs-o-up"></i> Approved</li>
                                    {% endif %}

                                    {% if questionnaire.published %}
                                    <li>
                                        <a class="" href="#"><i class="fa fa-rss"></i> Published</a></li>
                                    <li><a href="{{ survey_runner_url }}questionnaire/{{ questionnaire.id }}" target="_blank" class=""><i class="fa fa-laptop"></i> View live</a></li>
                                    {% else %}
                                    <li>
                                        <a class="" href="{{ survey_runner_url }}questionnaire/{{ questionnaire.id }}?preview=True"  target="_blank" class=""><i class="fa fa-eye"></i>
 Preview</a></li>

                                    {% endif %}
                                    {% if questionnaire.reviewed and not questionnaire.published %}
                                    <li>
                                        <a class=""
                                           href="{% url 'survey:publish-questionnaire' slug=questionnaire.id %}">Publish</a>
                                    </li>
                                    {% endif %}

                                    {% if not questionnaire.published %}
                                        {% if questionnaire.locked %}
                                            <li>
                                              <a class="" href="#" onclick="alert('Locked by {{ questionnaire.locked_by}}')"}><i class="fa fa-lock"></i>  Locked</a>
                                            </li>
                                        {% else %}
                                            <!--<li>
                                                <a class="tiny button secondary"
                                                   href="{% url 'survey:questionnaire-builder' questionnaire.id %}" >Edit</a>
                                            </li>-->
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </td>
                          </tr>
                            {% endfor %}
                        </table>

                      </div>

                      <a href="{% url 'survey:create-questionnaire' survey.survey_id %}" class="add-new"><span><i class="fa fa-plus"></i>&nbsp;&nbsp;Add a questionnaire to this survey</span></a>

                </section>


                {% endif %}
                {% empty %}
                <div class="row">
                    <div class="small-8 columns">
                        <h3>Hi there!</h3>
                        <p>Welcome to the eQ Authoring tool.  This tool allows you to create questionnaires for your surveys.</p>
                        <p>As you don't have any surveys at the moment, let's get started by clicking the 'Setup a new survey' button below.</p>
                        <p><a href="{%  url 'survey:create' %}" class="button large radius">Setup a new survey</a></p>
                    </div>
                </div>
                {% endfor %}

                </p>
            </main>
        </div>
    </section>
    {% endblock base_body %}
