<header>
  <div>
    <h1><a href="/" tabindex="1" title="return to homepage">Survey Builder</a></h1>
    <nav>
      <!--<a href="{% url 'survey:index'  %}" tabindex="2" title="dashboard page">Dashboard</a>-->
      <a href="{% url 'survey:index'  %}" tabindex="3" title="survey page" class="current">Surveys</a>
    </nav>
    <ul class="user-menu" title="Settings &amp; Sign Out">
      <li class="open-settings"><a href="#" tabindex="5">{{ user.get_full_name }}</a></li>
    </ul>
  </div>
  <div class="user-settings">
    <ul>
      <li><a href="/logout/" tabindex="6" title="sign out">Sign Out</a></li>
      {# <li><a href="#" tabindex="7" title="settings">Settings</a></li> #}
    </ul>
  </div>
</header>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
