 <!-- Template for a number question -->
	<script type="text/ng-template" id="number_question.html">
		<div class="question-block">
			<tabset template-url="/static/js/q_builder/templates/tabset.html" ng-hide="models.preview"><!-- class tab-container -->
			<div class="text_question" ng-hide="models.preview">
				<i class="fa fa-times deleteitem" ng-click="item.children.splice($index, 1)" ng-confirm-click="This item will be permanently deleted."></i>
				<tab heading="Question Settings">
					<h5> Number Question</h5>
					<label>Question</label>
					<input dnd-nodrag type="text" ng-model="child.questionText" placeholder="E.g - How many people does your company employ?">
					<label>Question Help/Instruction Text</label>
					<input dnd-nodrag type="text" ng-model="child.questionHelp" placeholder="E.g - Please include all staff members including contractors">
					<div class="clearfix"></div>
				</tab>
				<tab heading="Validation Rules">
					<ul>
							<li ng-repeat="condition in child.validation">
								<hr ng-if="$index > 0"/>
								<div ng-if="condition.condition == 'required'">
									<span>
										<label>Required</label><input type="checkbox" ng-model="condition.value" ng-checked="condition.value"/>
									</span>
									<span>
										<label>Text for Respondent</label>
										<input dnd-nodrag type="text" ng-model="condition.message" />
									</span>
								</div>
								<div ng-if="condition.condition == 'numeric'">
									<span>
										<h5>This Question Type only accepts Numeric Values</h5>
										<label>Text for Respondent</label>
										<input dnd-nodrag type="text" ng-model="condition.message" />
									</span>
								</div>
								<div ng-if="condition.condition != 'numeric' && condition.condition != 'required'">
									<label>Condition</label>
									<select value="condition" ng-model="condition.condition" >
										<option value="lessthan" selected>less than (&lt;)</option>
										<option value="greaterthan">greater than (&gt;)</option>
										<option value="equal">equal to (==)</option>
										<option value="notequal">not equal to (!=)</option>
									</select>
									<label>Value</label>
									<input dnd-nodrag type="text" ng-model="condition.value" placeholder="E.g - 500 ">
									<label>Validation Type</label>
									<select value="errortype" ng-model="condition.type">
										<option value="error" selected>Error - (Hard check)</option>
										<option value="warning">Warning - (Soft check)</option>
									</select>
									<label>Text for Respondent</label>
									<input dnd-nodrag type="text" ng-model="condition.message" placeholder="E.g - Please ensure your answer contains only numbers">
										<span class="list-actions">
										<i class="fa fa-trash removeitem" ng-click="child.validation.splice($index, 1)" title="remove this item"></i>
									</span>
								</div>
						</li>
					</ul>

					<span class="add-btn"><a ng-click="addValidation(child)" id="add-condition"><i class="fa fa-plus-circle"></i> Add another validation rule</a></span>
				</tab>
			</div>
				</tabset>
			<div class="text_question_preview" ng-show="models.preview">
				<div><b>{{ child.questionText }}<span ng-if="!child.questionText.length">Switch to edit mode and add a question</span></b></div>
				<div ng-if="child.questionHelp.length">{{ child.questionHelp }}</div>
				<input dnd-nodrag type="number">
			</div>
		</div>
	</script>