 <!-- Template for a number question -->
	<script type="text/ng-template" id="number_question.html">
		<div class="question-block">
			<tabset template-url="/static/js/q_builder/templates/tabset.html" ng-hide="models.preview"><!-- class tab-container -->
			<div class="text_question" ng-hide="models.preview">
				<i class="fa fa-times deleteitem" ng-click="item.children.splice($index, 1)" ng-confirm-click="This item will be permanently deleted."></i>
				<tab heading="Question Settings">
					<h5>Number Question</h5>
					<label>Question</label>
					<input dnd-nodrag type="text" ng-model="child.questionText" placeholder="E.g - How many people does your company employ?">
					<label>Question Help/Instruction Text</label>
					<input dnd-nodrag type="text" ng-model="child.questionHelp" placeholder="E.g - Please include all staff members including contractors">
					<label>Error Text for Respondent</label>
					<input dnd-nodrag type="text" ng-model="child.questionError" placeholder="E.g - Please ensure your answer contains only numbers">
				</tab>
				<tab heading="Validation Rules">
				<h4>Basic Validation</h4>
						<ul>
							<li>
								<section class="grouped-input basic">
									<article ng-repeat="condition in child.validation" ng-if="condition.condition == 'required' || condition.condition == 'numeric'">
											<div ng-if="condition.condition == 'required'">
											<span>
													<input type="checkbox" ng-model="condition.value" ng-checked="condition.value" class="mark-required"/> <h6>Make this question compulsory</h6>
											</span>
											<span>
													<label>Text for respondent if validation fails</label>
													<input dnd-nodrag type="text" ng-model="condition.message" />
											</span>
											</div>
											<div ng-if="condition.condition == 'numeric'">
													<span>
															<h6>This question requires a numeric response</h6>
													</span>
													<span>
															<label>Text for respondent if validation fails</label>
															<input dnd-nodrag type="text" ng-model="condition.message" />
													</span>
											</div>
									</article>
								</section>
									<h4>Conditional Rules</h4>
									<section class="grouped-input rules" ng-repeat="condition in child.validation" ng-if="condition.condition != 'numeric' && condition.condition != 'required'">
											<div>
												<label>Set condition</label>
												<select value="condition" ng-model="condition.condition" >
													<option value="" selected>If response is...</option>
													<option value="lessthan">Less than</option>
													<option value="greaterthan">Greater than</option>
													<option value="equal">Equal to</option>
													<option value="notequal">Not equal to</option>
												</select>
											</div>
											<div>
												<label>Value</label>
												<input dnd-nodrag type="text" ng-model="condition.value" placeholder="E.g - 500 ">
											</div>
											<div>
												<label>Apply Validation Rule</label>
												<select value="errortype" ng-model="condition.type">
													<option value="error" selected>Error (Prevent Submission)</option>
													<option value="warning">Warning (Alert user to a potential issue)</option>
												</select>
											</div>
											<div>
												<label>Error/Warning Message</label>
												<input dnd-nodrag type="text" ng-model="condition.message" placeholder="E.g - Please ensure your answer is numeric">
											</div>
											<div>
													<i class="fa fa-trash removeitem" ng-click="child.validation.splice($index, 1)" title="remove this item"></i>
											</div>
									</section>
						</li>
					</ul>
					<span class="add-btn"><a ng-click="addValidation(child)" id="add-condition"><i class="fa fa-plus-circle"></i> Add another validation rule</a></span>
				</tab>
			</div>
				</tabset>
			<div class="text_question_preview" ng-show="models.preview">
				<div><b>{{ child.questionText }}<span ng-if="!child.questionText.length">Switch to edit mode and add a question</span></b></div>
				<div ng-if="child.questionHelp.length">{{ child.questionHelp }}</div>
				<input dnd-nodrag type="number">
			</div>
		</div>
	</script>
