<!-- This template is responsible for rendering a group element. It uses
		 the above list template to render each group column -->
<script type="text/ng-template" id="group.html">
    <i class="fa fa-times deleteitem" ng-click="list.splice($index, 1)"
       ng-confirm-click="This section and all items will be permanently deleted."></i>

       <div class="group-element box box-blue">
        <div class="group-element box box-blue">
            <!--<p ng-hide="models.view != 'single'">{{$index+1}} of {{list.length}}</p>-->
            <div ng-hide="models.preview" class="section-header">
                <h3>{{ item.questionText }}</h3>
            </div>
            <div ng-hide="models.preview">
                <a href="" ng-click="viewSection(item);" ng-show="models.view == 'collapsed'">Edit/Add Questions to this Section</a>
            </div>
            <div ng-hide="models.preview || models.view == 'collapsed' || models.view == 'open'">
                <input ondrop="return false;" dnd-nodrag type="text" ng-model="item.questionText" placeholder="Section">
            </div>
            <div class="question_group_preview" ng-show="models.preview">
				        {{ item.questionText }} <span ng-if="item.questionText == 'Unnamed Section'"><b>Exit preview mode to give this section a title</b></span>
			      </div>

            <div ng-hide="models.view == 'collapsed'">
                <div class="dropzone">
                    <ul class="questionContainer" dnd-list="item.children"
                        dnd-drop="dropCallback(event, index, item)"
                        dnd-allowed-types="['item']"
                        ng-class="{'empty': item.children.length == 0}">
                        <li ng-repeat="child in item.children"
                            dnd-draggable="child"
                            dnd-effect-allowed="move"
                            dnd-moved="item.children.splice($index, 1)"
                            dnd-selected="models.selected = child"
                            ng-include="child.type + '.html'"
                            dnd-type="child.dndType" class="my-repeat-animation">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>
