<div class="radio_question" ng-hide="models.preview">
			<i class="fa fa-times deleteitem" ng-click="item.children.splice($index, 1)" ng-confirm-click="This item will be permanently deleted."></i>
			<h5>Multiple Choice Question – Single Answer</h5>

        <tabset template-url="/static/js/q_builder/templates/tabset.html" ng-hide="models.preview"><!-- class tab-container -->
          <tab heading="Question Settings">
            <label>Question</label>
						<input dnd-nodrag type="text" ng-model="child.questionText" placeholder="E.g - Which of these options do you agree with?">
						<label>Question Help/Instruction Text</label>
						<input dnd-nodrag type="text" ng-model="child.questionHelp" placeholder="E.g - Please select one option from the list below">
          </tab>
          <tab heading="Available Responses">
            <ul dnd-list="child.parts"
    					dnd-allowed-types="['part']">
    					<li ng-repeat="part in child.parts"
    						dnd-draggable="part"
    						dnd-effect-allowed="move"
						  dnd-type="'part'"
    						dnd-moved="child.parts.splice($index, 1)" setfocus="$last">
                <input dnd-nodrag type="text" ng-model="part.value" placeholder="Enter the response option for the respondent" class="icon-append" onkeypress="if (event.which==13) document.getElementById('add-field').click()">

                  <span class="list-actions">
                    <i class="fa fa-arrows-v reorder" title="drag to reorder"></i>
                    <i class="fa fa-trash removeitem" ng-click="child.parts.splice($index, 1)" title="remove this item"></i>
                  </span>
    					</li>
    				</ul>
    				<span class="add-btn"><a ng-click="addOption(child)" id="add-field"><i class="fa fa-plus-circle"></i> Add another response option</a></span>

          </tab>
			 <tab heading="Validation Rules">
				<li ng-repeat="condition in child.validation">
					<div ng-if="condition.condition == 'required'">
						<span>
                        	<input type="checkbox" ng-model="condition.value" ng-checked="condition.value"/>
                            Make this question compulsory
                        </span>
						<span>
							<label>Text for respondent if validation fails</label>
							<input dnd-nodrag type="text" ng-model="condition.message" />
						</span>
					</div>
				</li>
        	</tab>
			<tab heading="Routing">

				<div ng-repeat="condition in child.branchConditions">
					If users response is
					<select ng-model="condition.jumpTo.condition.value.is">
					  <option ng-repeat="part in child.parts" value="{{part.value}}">{{part.value}}</option>
					</select>
					then go to
					<select ng-model="condition.jumpTo.question">
						<option ng-repeat="question in models.dropzones.questionList" value="{{question.questionReference}}" ng-if="question.questionReference != models.section">{{question.questionText}}</option>
					</select>
				  </div>
				<span class="add-btn"><a ng-click="addRule(child)" id="add-condition"><i class="fa fa-plus-circle"></i> Add another routing rule</a></span>
			</tab>
        </tabset>

			</div>

			<div class="radio_question_preview" ng-show="models.preview">
				<div><b>{{ child.questionText }}</b></div>
				<div>{{ child.questionHelp }}</div>
				<label ng-repeat="part in child.parts">
					<input type="radio" name="child.id">&nbsp; {{ part.value }}
				</label><br />

				<!--<div>{{ child.questionError }}</div>-->
      </div>
