  <!-- Template for a rich text block -->
	<script type="text/ng-template" id="rich_text_block.html">
		<div class="question-block">
    <i class="fa fa-times deleteitem" ng-click="item.children.splice($index, 1)" ng-confirm-click="This item will be permanently deleted."></i>
    <h5>Text block with formatting</h5>
			<div dnd-nodrag class="text_question" ng-hide="models.preview">
				<label>Enter text below and format as required</label>
        <textarea ng-model="child.questionText" tbio ng-attr-id="{{ 'textarea-' + Math.random(36) }}" style="height: 400px;" configuration="simple"></textarea>
				<div class="clearfix"></div>
			</div>
			<div class="text_question_preview" ng-show="models.preview">
				<div ng-bind-html="child.questionText"></div>
			</div>
		</div>
	</script>
