 <!-- Template for a text question -->
	<script type="text/ng-template" id="text_question.html">

		<div class="question-block">
			<tabset template-url="/static/js/q_builder/templates/tabset.html" ng-hide="models.preview"><!-- class tab-container -->
				<div class="text_question">
					<i class="fa fa-times deleteitem" ng-click="item.children.splice($index, 1)" ng-confirm-click="This item will be permanently deleted."></i>
					<tab heading="Question Settings">
						<h5>Text Question</h5>
						<label>Question</label>
						<input dnd-nodrag type="text" ng-model="child.questionText" placeholder="E.g - How many people does your company employ?">
						<label>Question Help/Instruction Text</label>
						<input dnd-nodrag type="text" ng-model="child.questionHelp" placeholder="E.g - Please include all staff members including contractors">
						<div class="clearfix"></div>
					</tab>
					<tab heading="Validation Rules">
						<ul>
						<li>

							<section class="grouped-input basic">

								<article ng-repeat="condition in child.validation">
									<div ng-if="condition.condition == 'required'">
										<h4>Basic Validation</h4>
											<span>
													<input type="checkbox" ng-model="condition.value" ng-checked="condition.value" class="mark-required"/> <h6>Make this question compulsory</h6>
											</span>
											<span>
													<label>Text for respondent if validation fails</label>
													<input dnd-nodrag type="text" ng-model="condition.message" />
											</span>
									</div>

									<div ng-if="condition.condition == 'maxlength'">
										<h4>Conditional Rules</h4>
										<label>Please enter the maximum number of characters the user can enter</label>
										<input dnd-nodrag type="text" ng-model="condition.value" placeholder="E.g - 500 ">
										<label>Validation Type</label>
										<select value="errortype" ng-model="condition.type">
											<option value="error" selected>Error (Prevent Submission)</option>
											<option value="warning">Warning (Alert user to a potential issue)</option>
										</select>
										<label>Text for Respondent</label>
										<input dnd-nodrag type="text" ng-model="condition.message" placeholder="E.g - Please limit your response to 500 characters or less">
									</div>
								</article>

							</section>

							</li>
						</ul>
					</tab>
				</div>

				</tabset>
			<div class="text_question_preview" ng-show="models.preview">
				<div><b>{{ child.questionText }}<span ng-if="!child.questionText.length">Switch to edit mode and add a question</span></b></div>
				<div ng-if="child.questionHelp.length">{{ child.questionHelp }}</div>
				<input dnd-nodrag type="text">
			</div>
		</div>
	</script>
