{% extends "base.html" %}
{% block title %}Setup a new Survey{% endblock %}
{% load staticfiles %}
{% block css %}
  {{ block.super }}
  <link href="{% static "css/editor.css" %}" rel="stylesheet"/>
{% endblock css %}
{% block base_body %}
  {{ block.super }}
{% include "includes/navigation.html" %}

<div class="wrapper">
  <section class="row application">
    <div class="large-12">
      <ul class="breadcrumb">
        <li><a href="" title="">Home</a></li>
        <li><a href="" title="">Surveys</a></li>
        <li><a href="" title="">This Survey</a></li>
        <li>Authoring</li>
      </ul>
      <main class="clearfix">

      <div class="large-9 columns">
        <h2>Questionnaire Builder</h2>
          <fieldset>
            <form id="makequestionnaire">
              <!--<h6>Questionnaire Introduction</h6><span class="clear">clear formatting <i class="fa fa-times"></i></span>
                <div class="q-intro">Click here to enter your survey introduction. You can make text <b>bold</b> <i>italic</i> or <u>underlined</u></div>
                <textarea id="q-intro"></textarea>-->
              <div class="form-canvas">
                <img src="/static/img/icons/splash.svg" class="splash">
                <ul class="question-list"></ul>
              </div>
            </form>
        </fieldset>
      </div>
      <div class="large-3 columns end">

        <div class="authoring-tools">
          <h5>Question types</h5>
          <p class="instruction">Click to add a new question</p>
          <ul class="q-types">
            <li class="add-text-field"><img src="/static/img/icons/text.svg"></li>
            <li class="inactive"><img src="/static/img/icons/check.svg"></li>
            <li class="inactive"><img src="/static/img/icons/radio.svg"></li>
            <li class="inactive"><img src="/static/img/icons/select.svg"></li>
            <li class="inactive"><img src="/static/img/icons/grid.svg"></li>
            <li class="inactive"><img src="/static/img/icons/slider.svg"></li>
          </ul>
          <input type="submit" class="button small radius save" id="" value="Save">
          <a class="button small radius preview">Preview</a>
          <a class="button small radius reset">Reset</a>
        </div>
      </div>
      </main>
    </div>
  </section>
</div>
{% endblock base_body%}


{% block body_js %}
  {{ block.super }}
  <script src="{% static "js/plugin.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
{% endblock body_js %}
