{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block base_title %}
    <title>{% block title %}ONS Survey Designer{% endblock title %}</title>
    {% endblock base_title %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    <link href="{% static "foundation/css/normalize.css" %}" rel="stylesheet"/>
    <link href="{% static "foundation/css/foundation.min.css" %}" rel="stylesheet"/>
    {% endblock foundation_css %}
    <link href="{% static "css/app.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    {# Custom CSS #}
    {% block css %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% endblock css %}

    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>
<body {% block body_attr %}{% endblock body_attr %}>
    {# Main content goes here #}
    {% block base_body %}{% endblock base_body %}

    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    {% endblock foundation_jquery %}

    {# Foundation JS #}
    {% block foundation_js %}
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>
    {% endblock foundation_js %}

    {# Custom JS #}

    {% block body_js %}
    <script src="{% static "js/app.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdn.supportkit.io/supportkit.min.js"></script>
    <script>
      SupportKit.init({appToken: '2rzudlt14wycksdennxtpqz5k',
      givenName: '{{ user.first_name }}',
      surname: '{{ user.last_name }}',
      email: '{{ user.email }}',
      emailCaptureEnabled: true,
      customText: {
        headerText: 'ONS eQ Feedback',
        inputPlaceholder: 'Type a message...',
        sendButtonText: 'Send',
        introText: 'Please provide us with your comments. If you want a response, enter your email by clicking the cog and we\'ll get back to you',
        settingsText: 'You can leave us your email so that we can get back to you this way.',
        settingsReadOnlyText: 'We\'ll get back to you at this email address if we missed you.',
        settingsInputPlaceholder: 'Your email address',
        settingsSaveButtonText: 'Save',
        settingsHeaderText: 'Email Settings',
        settingsNotificationText: 'In case we\'re slow to respond you can <a href="#" data-ui-settings-link>leave us your email</a>.'
    }});
    </script>
    {% endblock body_js %}

    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
        $(document).foundation();
    </script>
    {% endblock foundation_js_init %}
</body>
</html>
