{% extends "base.html" %}
{% block title %}Setup a new Survey{% endblock %}
{% block base_body %}
  {{ block.super }}
{% include "includes/navigation.html" %}
{% load staticfiles %}
<div class="wrapper">
  <section class="row application">
    <div class="small-8 medium-6">
      <ul class="breadcrumb">
        <li><a href="" title="">Home</a></li>
        <li><a href="" title="">Surveys</a></li>
        <li>Setup new Survey</li>
      </ul>
      <h1>Setup a new Survey</h1>
    </div>
  </section>
</div>
{% endblock base_body%}
