{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block base_body %}
  {{ block.super }}
  <!--{% include "includes/navigation.html" %}-->
  <section class="row fullvh">
    <div class="signin-container small-8 medium-6">
      {% load staticfiles %}
      <img src="{% static "img/logo.svg" %}" alt="{{ logo_alt }}">
      <div class="signin clearfix">
        <h1>Sign In</h1>
        <form action="#" id="dosignin">
        <div class="small-12 ">
          <label>user name
            <input type="text" placeholder="youremail@ons.gsi.gov.uk" id="username"/>
          </label>
        </div>
        <div class="small-12 pwd-container">
          <label>password
            <input type="password" placeholder="" class="pwd" id="password" />
          </label>
          <p class="error signin-error">Incorrect password, please try again</p>
        </div>
        <div class="small-12 pwd-funcs">
          <p class="pwd-toggle"><i class="fa fa-eye"></i><span>Show</span> Password</p>
          <p class="pwd-remind"><i class="fa fa-question"></i><a href="#">Forgotten Password?</a></p>
          <input type="submit" class="button small radius" value="Sign In">
        </div>
      </form>
      </div>
      <aside>
        <p>Use of this tool is strictly limited to...</p>
        <p>For access please <a href="mailto:admin@admin.com">contact these lovely people</a></p>
      </aside>
    </div>
  </section>
{% endblock base_body%}

{% block body_js %}
  {{ block.super }}
  <script src="{% static "js/hideShowPassword.min.js" %}"></script>
{% endblock body_js %}
